<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gully cricket scorer</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<style>
    .mybody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal; 
    background-color:#E0FBE2 ;
}

.mya{
    text-decoration: none;
    margin: 10px;
    background-color: transparent;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: green;
    border-color: green;
 
 }
 .mya {
     color: white; /* Default color for links */
     font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal; 
    font-size: larger;
    padding: 10px;
 }
 
 .mya:visited {
     color: white; /* Same color as the default to prevent color change */
 }
 
 .mya:hover {
     color: green; /* Color when hovered over */
     background-color: white;
 }
 
 .mya:active {
     color: green; /* Color when active (clicked) */
 }
</style>
</head>
<body >
    <div class="mybody">
        <form  class="mybody" action="start" method="post">
            <div>
                <input class="mya" type="submit" name="" id="" value="Start Match">
            </div>
            <div class="atag">
                <a class="mya" href="instruction">Instruction</a>
            </div>
            <div>
                <button type="button" class="mya" onclick="window.history.back();">Go Back</button>
            </div>
        </form>

    </div>
</body>
</html>