<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gully cricket scorer</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form action="start" method="post">
        <input type="submit" name="" id="" value="start match">
        <button type="button" onclick="window.history.back();">Go Back</button>
    </form>
</body>
</html>