<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gully cricket scorer</title>
</head>
<body>
    <h1>Gully cricket scorer</h1>
    <h3>what you can do here ?</h3>
    <ul>
        <li>You can keep track of your runs.</li>
        <li>You can keep track of overs who have bowled.</li>
        <li>Batsman ,run rate</li>
        <li>And some features like WIDE and NO BALL</li>
    </ul>
    <a href="Guest_login">Continue as Guest</a>
</body>
</html>