body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal; 
    background-color:#E0FBE2 ;
}

.child1{
    background-color: #BFF6C3;
    padding: 35px;
    border-radius:20px;
}
.myform{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #1A5319;

}
label{
    color: #1A5319;
    font-weight: 400;

}
input{
    background-color: #E0FBE2;
    border-radius: 12px;
    border-style: solid;
    padding: 5px;
}
.mya{
    text-decoration: none;
    margin: 10px;
    background-color: transparent;
    border-style: solid;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    background-color: green;
    border-color: green;
 
 }
 .mya {
     color: white; /* Default color for links */
 }
 
 .mya:visited {
     color: white; /* Same color as the default to prevent color change */
 }
 
 .mya:hover {
     color: green; /* Color when hovered over */
     background-color: white;
 }
 
 .mya:active {
     color: green; /* Color when active (clicked) */
 }